<div class='card col-lg-8 offset-lg-2 border rounded my-3 text-xs-center'>
  <div class='card-body'>
    <%= render 'form' %>
    <div class='btn-group my-3 btn-block' role='group'>
      <%= link_to t('.badges'), admin_badges_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
