<nav class='navbar navbar-dark bg-dark navbar-expand-lg'>
  <%= link_to t('title'), root_path, class: 'navbar-brand h1' %>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <% if user_signed_in? %>
      <span class='navbar-text'>
        <%= t('welcome_admin_html', email: current_user.email) %>
      </span>
    <% end %>
    <ul class='navbar-nav ml-auto'>
      <li class='nav-item'>
        <%= link_to t('.tests'), admin_tests_path, class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to t('.create_test'), new_admin_test_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
