<div class='col-lg-3 m-5 p-3 border rounded'>
  <div class='h5 text-center'>
    <%= badge.caption%>
  </div>
  <%= image_tag badge.image, class: 'mx-auto d-block' %>
  <div class='text-center'>
    x<%= current_user.badges.where(id: badge.id).count %>
  </div>
</div>
