<footer>
  <hr>
  <div>
    <%= current_year %>
    <%= github_url(TestGuru::AUTHOR, TestGuru::PROJECT_GIT_URL) %>
  </div>
  <div>
    Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://www.thinknetica.com', target: '_blank' %>
  </div>
</footer>
