<tr>
  <td><%= answer.body %></td>
  <td><%= answer.correct ? octicon('check') : octicon('x') %></td>
  <td>
    <div class='btn-group' role='group'>
      <%= link_to t('.edit'), edit_admin_answer_path(answer), class: 'btn btn-secondary' %>
      <%= link_to t('.destroy'), admin_answer_path(answer), method: :delete, data: { confirm: t('dialogs.are_you_sure')}, class: 'btn btn-danger' %>
    </div>
  </td>
<tr>
