<tr>
  <td><%= question.body %></td>
  <td>
    <div class='btn-group' role='group'>
      <%= link_to t('.show'), [:admin, question], class: 'btn btn-secondary' %>
      <%= link_to t('.edit'), edit_admin_question_path(question), class: 'btn btn-secondary' %>
      <%= link_to t('.destroy'), [:admin, question], method: :delete, data: { confirm: t('dialogs.are_you_sure')}, class: 'btn btn-secondary' %>
    </div>
  </td>
 </tr>
