<div class='card col-lg-8 offset-lg-2 border rounded my-3 text-xs-center'>
  <div class='card-body'>
    <h1 class='card-title'><%= question_header(@question) %></h1>
    <%= render 'form' %>

    <%= link_to t('.test'), admin_test_path(@question.test), class: 'btn btn-secondary my-3 btn-block' %>
  </div>
</div>
