<p>Здравствуйте <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связались с Вами, что бы предупредить, что Ваш почтоый ящик был изменен на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связались с Вами, что бы предупердить, что Ваш почтоый ящик был изменен на <%= @resource.email %>.</p>
<% end %>
