<p>Здравствуйте <%= @resource.email %>!</p>

<p>Было запрошено изменение пароля. Вы можете сделать это при помощи ссылки ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали смену пароля, пожалуйста игнорируйте это письмо.</p>
<p>Ваш пароль не измениться до тех пор пока Вы не прейдете по ссылке выше.</p>
