<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокированна из-за превышения попыток входа.</p>

<p>Нажмите на ссылке ниже что бы разблокировать учетную запись:</p>

<p><%= link_to 'Разблокировать учетную запись', unlock_url(@resource, unlock_token: @token) %></p>
